@use './var' as *;
@use './mixins' as *;
/*--------------------------------------------------------------
   Navigation
--------------------------------------------------------------*/

.nav {
  > * {
    flex: 1;
  }
  &__items {
    &--right {
      justify-content: flex-end;

      @include media-breakpoint-down("sm") {
        .nav__item {
          margin-right: 10px;

          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 35px 0 0;
    }

    &--add-cart {
      position: relative;

      .items-added {
        background: $secondary-color;
        width: 12px;
        height: 12px;
        overflow: hidden;
        font-size: 9px;
        border-radius: 50%;
        display: inline-block;
        display: grid;
        place-items: center;
        color: $white;
        position: absolute;
        right: -6px;
        top: -1px;
        font-weight: 600;
      }
    }
    &.active{
      a{
        color: $secondary-color;
      }
    }
    a {
      font-size: 17px;
      display: inline-block;
      color: $primary-color;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }

    img {
      height: 17px;
      width: 17px;
      @include transition-ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .logo {
    text-align: center;
    &__img {
      width: 120px;
      height: 44px;

      @include media-breakpoint-down("sm") {
        transform: scale(0.7);
      }
    }
  }
}
