$primary-color: hsl(213, 68%, 15%);
$secondary-color: hsl(8, 86%, 71%);
$text-color: hsl(214, 27%, 30%);
$white: hsl(0, 0%, 100%);

$breakpoints-up: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1440px,
);

$breakpoints-down: (
  'xs': 575px,
  'sm': 767px,
  'md': 991px,
  'lg': 1199px,
  'xl': 1439px,
);

$box-shadow: 0px -1px 0px 0px rgb(0 0 0 / 10%), 0px 2px 2px 1px rgb(0 0 0 / 15%);
